/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
blockquote {
	margin: 2em;
	padding: 0 1em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background: #CFDAB1;
}
.mySlides {
	display:none;
	top: 0;
	left: 0;
}
.mySlidez{
}
.page_cont{
	width: 100%;
	height: 100%;
}
.time{
	color: black;
	font-size: 16px;
	font-size: 1em;
	line-height: 1.75;
	font-family: 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.01em;
	margin: 1em auto;
}
.bottom_cont{
	color: black;
	font-size: 16px;
	font-size: 1em;
	line-height: 1.75;
	font-family: 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.01em;
	margin: 1em auto;
	height: 30%;
	background-color: #236549;
}
.news_cont{
	color: black;
	font-size: 16px;
	font-size: 1em;
	line-height: 1.75;
	font-family: 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.01em;
	margin: 0;
	background-color: #A9CFDC;
}
/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 50%;
    height: 100%;
}
.column2 {
    float: left;
    width: 50%;
    height:100%;
}
.columnC{
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Clear floats after the columns */
.rowC:after {
    content: "";
    display: table;
    clear: both;
}
.welcome_cont{
	height: 20%;
	color: #CFDAB1;
	background-color: #00553E;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: .01em;
	margin: 0;
	text-align: center;
}
